<h1>CUSTOMER TABLE</h1>
<div class="conatainer">
  <table class="table">
    <thead>
      <th>CUSTOMER ID</th>
      <th>CUSTOMER NAME</th>
      <th>AGE</th>
      <th>GENDER</th>
      <th>DESIGNATION</th>
      <th>AADHAR NUMBER</th>
      <th>PHONE NO.</th>
      <th>ORDER</th>
      <th>VIEW ORDER</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of readData">
        <td>{{ emp.ID }}</td>
        <td>{{ emp.Name }}</td>
        <td>{{ emp.Age }}</td>
        <td>{{ emp.Gender }}</td>
        <td>{{ emp.Designation }}</td>
        <td>{{ emp.Aadhar_number }}</td>
        <td>{{ emp.phone_no }}</td>
        <td>
          <a [routerLink]="['/order-form', emp.ID]"
            ><button class="btn btn-warning">order</button></a
          >
        </td>
        <td>
          <a [routerLink]="['/view-order', emp.ID]"
            ><button class="btn btn-info">View Order</button></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" id="back" class="mt-3">
  <a routerLink="/customer"><button class="btn btn-dark">Back</button></a>
</div>
